/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('headerimagehome.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.header-content {
    max-width: 600px;
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-content p {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.btn:hover {
    background-color: #218838;
}



.featured-recipes {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.recipe-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    width: 300px;
    text-align: center;
}

.recipe-image {
    background-size: cover;
    background-position: center;
    height: 200px;
}

.recipe-info {
    padding: 20px;
}

.recipe-info .tag {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.recipe-info h3 {
    margin: 0 0 10px;
}

.recipe-info p {
    color: gray;
}
/* CSS */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
